<section class="template-elements-list">
  <h1>Template Elements</h1>

  <mat-divider></mat-divider>

  <h2>Containers</h2>

  <mat-divider></mat-divider>

  <div>
    <button
      *ngFor="let containerItem of containersItems"
      type="button"
      class="btn btn-dark dragdrop-element"
      pDraggable
      (onDragStart)="onDragStart(containerItem)"
      (onDragEnd)="onDragEnd(containerItem)"
    >
      {{ containerItem.displayName }}
    </button>
  </div>

  <mat-divider></mat-divider>

  <h2>Content</h2>

  <mat-divider></mat-divider>

  <div>
    <button
      *ngFor="let contentItem of contentItems"
      type="button"
      class="btn btn-dark dragdrop-element"
      pDraggable
      (onDragStart)="onDragStart(contentItem)"
      (onDragEnd)="onDragEnd(contentItem)"
    >
      {{ contentItem.displayName }}
    </button>
  </div>
</section>
